*{
    margin: 0;
    font-family: 'poppins','sans-serif';
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{

    background-color: #1F2544; 
    color: #ededed;
}
.Contaner{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


}
@media(min-width:768px)
{
    .Contaner{
        width: 750px;
    }
}
@media(min-width:992px)
{
    .Contaner{
        width: 970px;
        
    }
}

@media(min-width:1200px)
{
    .Contaner{
        width: 1170px;
        
    }
}

.header{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #1F2544;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.logo{
   
    font-size: 25px;
    color:#9368c3;
    text-decoration: none;
    font-weight: 600;
}


.navbar a{
    font-size: 18px;
    color: #FFD0EC;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color:#81689D;

}

.home{
    display: flex;
    background :url(Images/Developer\ activity-amico.svg) no-repeat;
    background-size:35%;
    background-position: 90% 50%;
    align-items: center;
    height: 100vh;
    padding: 0 5%;

}
.home-content h1{
    font-size: 330%;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:#81689D;

}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 63%;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#81689D ;
    border: 2px solid #81689D;
    border-radius: 8px;
    font-size: 16px;
    color: #FFD0EC;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:nth-child(2){
    background: transparent;
    color:#FFD0EC;
}

.btn-box a:nth-child(2)::before{
    background: #81689D;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #8f72af;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 34%;
    right: 8%;
    width: 36%;
    height: 60%;
    background-color: transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: #1F2544;
    opacity: .8;
}


















p{
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
    color:white;
}

.title{
    display: flex;
    justify-content: center;
    color: #81689D;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
   
}

.contant{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #81689D;
    width: 15.25em;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding:25px;
    margin: 15px;
    margin-top: 5px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.icon{
    color:#FFD0EC;
    font-size: 5em;
    text-align: center;
}

.Info{
    text-align: center;
}

.Info h3{
    
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.About{
   
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 11em;
    
}

.About .Container-image{
    width: 30%;
   
}

.About .container-text{
    width: 35%;

}
.container-text h1{
   
    font-size: 388%;
}
.container-text h1 span{
    color: #81689D;
    font-size: 153.5%;
    margin-left: 1.5%;
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

h5 span{
    color: white;
}


footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #81689D, #424c7e);
    color: #fff;
    padding: 50px 0 20px;
    border-top-left-radius: 125px;
    font-size: 80%;
    line-height: 20px;
    margin-top: 150px;

}

 .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-loogo{
    display: block;
   margin: .9em;
}

.col h3{
    width: fit-content;
    margin-bottom: 22px;
    position: relative;
}

.email-id
{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;

}


.col a{
    display: flex;
    text-decoration: none;
    margin-top: 5px;
    color: #fff;
    padding-top: 10px;
}
.social-icons a {
    width: 22%;
    height: 50px;
    border-radius: 50%;
    /* line-height: 40px; */
    font-size: 160%;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.CopyRight{
    text-align: center;
    font-size: 10px;
}

.Underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px ;
    position: absolute;
    top:25px;
    left: 0;
    overflow: hidden;
}

.Underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation:moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    margin-left: 79%;
    z-index: 100;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: white;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: .4s;
    margin-bottom: 5px;
   
}
.list {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 14%;
    margin-left: 25%;
    height: 33%;
    background: #422661fc;
    font-style: oblique;
    border-bottom-left-radius: 59px;
    border-top-right-radius: 59px;
    opacity: 0; /* Start with 0 opacity */
    max-height: 0; /* Start with 0 height */
    overflow: hidden; /* Hide the overflow */
    transition: opacity 0.7s, max-height 0.7s; /* Smooth transition for opacity and max-height */
}

.hide {
    display: none;
}

.list a {
    display: block;
    height: 18%;
    font-size: 130%;
    text-decoration: none;
    padding-left: 18%;
}

.ListOfContect {
    opacity: 1; /* Set final opacity to 1 */
    max-height: 500px; /* Set a max-height that will accommodate the content size */
    /* Adjust the max-height value based on the actual content size */
}

.list a span{
    margin-left: 8%;
    font-size: 83%;
    color: seashell;
}
.fa-facebook{
    color: initial;
}
.fa-linkedin{
    color: initial;
}
.fa-github{
    color: initial;
}
.fa-whatsapp{
    color: initial;
}
.fa-google{
    color: initial;
}
@media(max-width:575px)
{
    :root{
        padding: 0rem;
    }

    html{
        font-size: 1rem;
    }
   
    .home-imgHover{
        display: none;
    }
    .home{
        
        background : none;
    }
    .navbar {
        display: block; /* Changed from 'none' to 'block' */
        position: fixed;
        top: 6%;
        width: 48%;
        background-color: #422661fc;
        right: 17%;
        border-top-left-radius: 132px;
        border-bottom-left-radius: 31px;
        border-bottom-right-radius: 132px;
        opacity: 0; /* Set initial opacity to 0 */
        visibility: hidden; /* Set initial visibility to hidden */
        transition: opacity 0.7s, visibility 0.3s; /* Smooth transition for opacity and visibility */
      }
      
      .navbar a {
        display: block;
        text-align: center;
        margin: 56px;
      }
      
      .navbar.is-active {
        opacity: 1; /* Set final opacity to 1 */
        visibility: visible; /* Set final visibility to visible */
      }
      
      .list{
        margin-left: 43%;
    width: 39%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: -9%;
    height: 29%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    top: 85%;
      }
      .list a {
        display: block;
        padding-left: 10%;
      }    

    #menu{
        display: block;
        position: absolute;
    }
    .Container-image{
        display: none;
    }
    .About .container-text {
        width: 100%;
    }
    .contant{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 1erm;
      
    }
   
    .social-icons{
      
        width: 143px;
    }
    .social-icons i{
        display: block;   
    }
     #Hiden{
        display: none;
    }
    .home-content {
        width: 60%;
    }
    .home {
        display: flex;
        height: 100vh;
        align-items: center;
    }
    .home-content {
        width: fit-content;
    }
    .home-content .btn-box {
        display: flex;
        justify-content: space-between;
        width: 99%;
        height: 50px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
}